/* ---------- RESET ---------- */
a,
.btnLink {
  text-decoration: none;
  color: rgb(10, 102, 194);
  font-weight: 600;
}
body {
  /* background-color: rgba(243, 242, 239); */
  background-color: #20cc233d;
  color: rgba(0, 0, 0, 0.9);
}
.auth-form, .access{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(79deg, #0f9074, #0dc987cc 48%, #2ac41c98);
}

/* LOGIN & REGISTER */
.auth-form, .login-form, .register-form{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 600px){   
    .auth-form{
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
        margin-inline: 5rem;
    }
}
.label{
    padding: 0.25rem 0;
}
.link-btn{
    background: none;
    color: white;
    text-decoration: underline;
    border: none;
}

/* START PAGE */
  .img-start {
    width: 100vh;
    height: 60vh;
    background-image: url("../img/startPage.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }
  .text-start{
    color: rgba(26, 77, 3, 0.712);
  }
